body,ol,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
html{font-size: 625%;;font-family: Helvetica,"Microsoft YaHei";background-attachment:fixed;overflow-x: hidden;-webkit-overflow-scrolling:touch;}
body{background-color: #f5fafa}
body ::selection {color:#FFFFFF;background-color:#333;text-shadow:none;}
body ::-moz-selection {color:#FFFFFF;background-color:#333;text-shadow:none;}
img{border:none;}
li{list-style-type: none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration: none;}
::-webkit-scrollbar{
    width: 8px;height: 5px;background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    border-radius: 5px;background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #1e1d26;
}

/*清除浮动*/
.clearfix:after{display: block;clear: both;content: '';height: 0;}
.clearfix{zoom:1;}
/*通用样式*/
.fl{float:left}
.fr{float:right}
#app{
    height: 100%;font-size: 0.14rem;
}

/*左侧固定导航*/
.left-side{
    background-color: #1e1d26;width: 15%;height:100%;position: fixed;color: #fff;
}
/*左侧头像部分*/
.side-header{
    width: 100%;height: 2.5rem;padding: 0.3rem;box-sizing: border-box;background-color: #272631
}
.header-img{
    text-align: center;
}
.header-img .img{
    width: 0.82rem;height: 0.82rem;border-radius: 50%;
}
.header-tit{
    font-size: 0.16rem;line-height: 0.28rem;
}
.head-sm-tit{
    color: #a3a2a8;
}
.head-link{
    width: 100%;height:0.36rem;line-height: 0.36rem;background-color: #ea5a5a;color: #fff;display: inline-block;margin-top: 0.22rem;border-radius:0.18rem;transition: box-shadow .3s;-webkit-transition: box-shadow .3s;
}
.head-link:hover{
    box-shadow: 0 0 0.08rem 0.01rem rgba(222, 222, 222, 0.3)
}

/*左侧搜索框*/
.search-box{
    width: 100%;height:0.6rem;border-top:1px solid #111111;border-bottom: 1px solid #111111;position: relative
}
.search-bg{
    background: url('../img/search-bg.png') left center no-repeat;width: 0.2rem;height: 0.2rem;display: block;position: absolute;left:0.2rem;top: 0.2rem;cursor: pointer
}
.search-inpuy{
    border:none;width: 100%;line-height: 0.6rem;background-color: #1e1d26;color: #444444;font-size: 0.16rem;padding:  0 0.5rem;box-sizing: border-box
}

/*左侧菜单栏1*/
.side-nav{
    width: 100%;height: 1.8rem;padding: 0.4rem 0 0.2rem 0;color: #808080;
}
.nav-tit{
    font-weight: normal;font-size: 0.16rem;padding-left: 0.2rem;line-height: 0.22rem
}
.nav-list{
    text-indent: 0.36rem
}
.nav-item{
    margin-top: 0.1rem;line-height: 0.4rem;height: 0.4rem;box-sizing: border-box;cursor: pointer;transition:color .3s;-webkit-transition:color .3s;
}
.nav-item:hover{
    color: #fff
}
.side-nav .active{
    background-color: #19181e;border-left: 3px solid #ea5a5a;text-indent: 0.33rem;box-shadow: 0 0 0.05rem 0.01rem rgba(0,0,0,0.1) inset;color: #fff
}

/*左侧底部*/
.side-footer{
    width: 100%;height: 0.3rem;position: absolute;bottom: 0;left: 0;background-color: #19181e;text-align: center;padding: 0.25rem 0
}
.foot-tit{
    color: #ea5a5a;font-size: 0.16rem;font-weight: normal
}
.sm-tit{
    color: #444444
}


/*右侧主面板*/
.right-main{
    background-color: #fafafa;width: 85%;margin-left: 15%;position: relative
}
.img-box{
    width: 100%;height: 100%;padding:0.4rem 0.4rem 0 0.4rem;
}
.list-tit{
    color: #444;font-size: 0.22rem;font-weight: normal;line-height: 0.43rem
}
.list-tit .img-num{
    color: #c0c0c0;margin-left: 0.25rem;font-size: 0.14rem
}
.img-list{
    width: 95%;height: 100%
}
.img-item{
    width: 23%;height: 2.75rem;display: inline-block;padding:0.15rem;overflow: hidden;position: relative;
}
.photo{
    background-color: #fff;width: 100%;height: 2.44rem;border-radius: 0.05rem;cursor: pointer;transition:box-shadow .3s;-webkit-transition:box-shadow .3s;
}
.photo:hover{
    box-shadow:0 0 0.15rem 0.02rem rgba(0, 0, 0, 0.5);opacity: 0.85
}
.photo-content{
    position:absolute;display:block;bottom:0.46rem;text-align: center;width: 92%;line-height: 0.4rem;background-color: rgba(148, 148, 148, 0.6);color: #fff;border-radius:0 0  0.05rem 0.05rem;height: 0rem;opacity:0; -moz-opacity:0;filter:alpha(opacity=0);left: 0; right: 0;margin: 0 auto
}
.time{
    color: #c0c0c0;font-size: 0.16rem;line-height: 0.3rem
}

/*右侧主面板遮罩层*/
.shadow-box{
    position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,0.8);left: 0;top: 0;display: none;opacity: 0;filter: alpha(opacity=0);-moz-opacity:0;outline: none
}
.close-button{
    position: absolute;width: 0.3rem;height: 0.3rem;right: 0.3rem;top: 0.3rem;background: url(../img/close-btn.png) center center no-repeat;background-size: cover;cursor: pointer;z-index: 1000
}
.imgBig-box{
    width: 90%;height: 90%;position: relative;margin: 2.5% auto;background: #fafafa;border-radius: 0.05rem;top:-20%;display: none
}
.img-ctrl{
    width: 75%;height: 100%;margin: 0 auto;padding:5% 0 5% 5%;box-sizing: border-box;position: relative
}
.img-big{
    width: 100%;
}
.img-big-content{
    width:25%;height:100%;margin: 5% 0;padding:0 2%;box-sizing: border-box
}
.big-tit{
    font-size: 0.28rem;color: #444;font-weight: normal;line-height: 0.8rem
}
.big-time{
    font-size: 0.18rem;color: #c0c0c0;line-height: 0.35rem
}
.big-content{
    font-size: 0.18rem;line-height: 0.35rem
}
.big-shareList{
    position: relative;bottom: -5%;width: 100%;
}
.share-item{
    display: inline-block;margin-right:4%
}
.user-btn{
    width: 0.28rem;height: 0.28rem;display: inline-block;cursor:pointer
}
.img-star{
    background: url(../img/unstar.png);background-size: cover;
}
.img-star:hover{
    background: url(../img/star.png);background-size: cover;
}
.img-share{
    background: url(../img/unqzone.png);background-size: cover;
}
.img-share:hover{
    background: url(../img/qzone.png);background-size: cover;
}
.ctrl{
    width: 10%;height: 50%;background: #ff004f;position: absolute;cursor: pointer;opacity: 0.2;filter: alpha(opacity=20);transition:opacity .3s;-webkit-transition:opacity .3s;
}
.ctrl:hover{
    opacity: 1;
}
.left-ctrl{
    top:25%;left: 7%;background: url(../img/left-ctrl.png) center center no-repeat;background-size: 0.8rem
}
.right-ctrl{
    top:25%;right: 0;background: url(../img/right-ctrl.png) center center no-repeat;background-size: 0.8rem
}
